
*{

background-color: cornsilk;
}
h1{

    color: rgb(147, 253, 147);
    background-color: rgb(236, 91, 135);
    text-align: center;
    font-size: 80px;
    font-weight: 100px;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

.foodintro {

    background-color: cornsilk);
    border-color: ivory;
    font-family: 'Roboto', sans-serif ;
    color: cadetblue;
   
} 

.foto1{

    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;

}


.foto2 {

    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
   


}

.foto3
{

    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
   

}