
*{ 
}
h1{

    color: rgb(147, 253, 147);
    background-color: rgb(236, 91, 135);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px

}

.foodintro {

    background-color: blueviolet;
    border-color: ivory;
    font-family: 'Roboto', sans-serif ;
    color: cadetblue;
   
} 

.recetas1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-self: auto;


}
.receta2{
    display: flex;
    flex-direction: row;
    justify-content: ;
    align-self: auto;

}

.receta3{


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-self: auto;
}
#links{

    background-color: blue;
    float: right;
    font-size: 20px;
    position: static;
    padding: 20px;
}

.foto{

width: 300px;
height:auto;
}