
*{ border: solid 2px red;

background-color: cornsilk;
}
h1{

    color: rgb(147, 253, 147);
    background-color: rgb(236, 91, 135);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px

}

.foodintro {

    background-color: blueviolet;
    border-color: ivory;
    font-family: 'Roboto', sans-serif ;
    color: cadetblue;
   
} 

.foto1{

     height: 250px;
     width: 350px;

    
    



  

}


.foto2 {

 
    height: 250px;
     width: 350px;
    
   


}

.foto3
{

height: 250px;
 width: 350px;

   

}

span{  

}